.nav {
  display: flex;
  justify-content: center;
}

.custom-card:hover {
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

.parallax {
  /* The image used */
  background-image: url("Main.jpg");

  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}
